* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;    
}

.headertext {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    font-family: "Bebas Neue", sans-serif;
}

.box-01 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(48, 48, 48, 0.2);
    border-radius: 20px;
}


label {
    color:#3a633f;
    font-size: 30px;
    font-weight: 600px;
    margin-bottom: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

input {
    padding: 25px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: #bfffd2;
    border: 2px solid #fff6f4;
    color: #7e7272;
    outline: none;
}

.btn {
    padding: 20px 30px 20px 30px;
    color: #FFFFFF;
    margin: 0px 5px 80px 5px;
    background-color: #111111;
    border-radius: 40em;
    border: none;
    font-size: 25px;
}

.btn:hover {
    background-color: #222222;
}

.result {
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
}
